
.tabs{
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
}
h1{
    color: antiquewhite;
}

.DishesDiv{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 5%;   
}
.pastriesDiv{
    display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 5%;
}
.cocktailDiv{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.formDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}