
.tabs{
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
}
h1{
    color: antiquewhite;
}

.DishesDiv{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 5%;   
}
.pastriesDiv{
    display: flex; 
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 5%;
}
.cocktailDiv{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
} 
.label{
    padding-top: 20px;
    color: rgb(15, 15, 15);
    font-size: 25px;
    font-weight: bold;
}
.orderButton{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(137, 137, 182);
}
.orderButtonDiv{
    padding-top: 40px;
}
h4{
    padding: 5%;
    font-size: 30px;
    color: rgb(255, 140, 0);
}
h5{
    font-size: 30px;
    color: black;
}
.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    